extends layouts/index.pug

block home

  main(class="main")

    h2(class="main__title")="Agregar Productos"

    form(class="main__form" id="products-form" action='/' method='POST' enctype='multipart/form-data')

      div(class="form-group")
        label(for='productName')="Nombre del producto:"
        input(id="productName" name="productName" class="form-control" type='text' required)

      div(class="form-group")
        label(for='productPrice')="Precio del producto"
        input(id="#productPrice" name="productPrice" class="form-control" type='number' required)

      div(class="custom-file form-group")
        label(class="custom-file-label" for='thumbnail')="Foto del producto:"
        input(id="thumbnail" name="thumbnail" type="file")
         
      button(class="btn my-3" type='submit')="Enviar"

    section(class="")

      h2(class="main__title")= 'Vista de Productos'

      div(id="product-table")

  section(class="main") 

    h2(class="main__title")="Dejanos tus comentarios:"

    div(id="message-box")

    form(class="messages-form" id="messages-form")

      div(class="form-group")
        label(for='email')="Correo electronico:"
        input(id="email" name="email" class="form-control" type='email' required)

      div(class="form-group")
        label(for='text')="Cuentanos algo:"
        input(id="text" name="text" class="form-control" type='text' required)

      button(class="btn " type='submit')="Enviar"


