extends layouts/index.pug

block home

  main(class="main")

    h2(class="main__tittle")="Agregar Productos"

      form(class="main__form" id="products-form" action='/' method='POST' enctype='multipart/form-data')

        div(class="form-group")
          label(for='productName')="Nombre del producto:"
          input(id="productName" name="productName" class="form-control" type='text' required)

        div(class="form-group")
          label(for='productPrice')="Precio del producto"
          input(id="#productPrice" name="productPrice" class="form-control" type='number' required)

        div(class="custom-file")
          input(id="#thumbnail" class="custom-file-input" name='thumbnail' type='file')
          label(class="custom-file-label" for='thumbnail')="Foto del producto."
      
        button(class="btn btn-primary my-3" type='submit')="Enviar"

  section(class="jumbotron")

    h2= 'Vista de Productos'

    div(id="result-table")

    //- if products.length > 0

    //-   div(class="table-responsive")
    //-     table(class="table table-dark gap-5 table--mod")

    //-       tr
    //-         th='Nombre'
    //-         th='Precio'
    //-         th='foto'

    //-       each product in products 

    //-         tr 
    //-           td=product.productName
    //-           td=new Intl.NumberFormat('en-US', {style: 'currency', currency: 'USD'}).format(product.productPrice )   
    //-           td
    //-             img(width="50" src=product.thumbnail alt="not found")

    //- else 
    //-   h3(class="alert alert-warning")='No se encontraron productos'

    //- a(href="/" type="button" class="btn btn-primary ")='Cargar un nuevo producto'
